In [1]:
%load_ext amazon_sagemaker_sql_magic

In [2]:
%%sm_sql --connection-properties '{"connection_type": "ATHENA", "work_group": "primary"}'


-- Query to list columns in table 'AwsDataCatalog.fare-prediction.raw'
SELECT
  *
FROM
  "AwsDataCatalog"."fare-prediction"."raw"

,trip_start_timestamp,trip_end_timestamp,trip_start_hour,trip_seconds,trip_miles,trip_speed,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tip_rate,tolls,extras,trip_total,payment_type,company
0,05/17/2022 7:15:00 AM,05/17/2022 7:45:00 AM,7.25,2341,2.57,4.0,NaN,NaN,NaN,17.0,31.99,2.00,6.3,0,0.0,33.99,Mobile,Flash Cab
1,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1074,1.18,4.0,NaN,1.703108e+10,NaN,8.0,9.75,3.00,27.9,0,1.0,14.25,Credit Card,Flash Cab
2,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1173,1.29,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.25,0.00,0.0,0,0.0,10.25,Cash,Sun Taxi
3,05/17/2022 6:00:00 PM,05/17/2022 7:00:00 PM,18.00,3360,3.70,4.0,1.703132e+10,1.703124e+10,32.0,24.0,23.75,0.00,0.0,0,1.0,24.75,Cash,Choice Taxi Association
4,05/17/2022 5:00:00 PM,05/17/2022 5:30:00 PM,17.00,1044,1.15,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.00,0.00,0.0,0,0.0,10.00,Cash,Flash Cab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,05/17/2022 2:15:00 PM,05/17/2022 2:30:00 PM,14.25,587,1.10,6.7,1.703108e+10,1.703108e+10,8.0,8.0,7.50,0.00,0.0,0,0.0,7.50,Cash,Blue Ribbon Taxi Association
996,05/17/2022 4:15:00 PM,05/17/2022 4:30:00 PM,16.25,1131,2.12,6.7,NaN,NaN,14.0,11.0,11.00,0.00,0.0,0,0.0,11.00,Cash,Medallion Leasin
997,05/17/2022 9:45:00 AM,05/17/2022 10:15:00 AM,9.75,1803,3.38,6.7,NaN,NaN,4.0,3.0,17.00,0.00,0.0,0,0.0,17.00,Cash,Flash Cab
998,05/16/2022 8:15:00 PM,05/16/2022 8:15:00 PM,20.25,320,0.60,6.8,NaN,NaN,8.0,8.0,5.50,0.00,0.0,0,3.5,9.00,Cash,Globe Taxi
999,05/17/2022 7:00:00 PM,05/17/2022 7:30:00 PM,19.00,1920,3.60,6.8,1.703184e+10,1.703183e+10,32.0,7.0,16.75,3.65,20.6,0,1.0,21.40,Credit Card,"""Taxicab Insurance Agency"